<template>
  <div class="editBaseImg">
    <div class="choose" style="text-align: left">
      <a-space>
        <a-select
            ref="select"
            :options="cValue.moduleOptions"
            placeholder="选择模块"
            style="width: 120px"
            allow-clear="true"
            @change="selectModule"
        ></a-select>
      </a-space>

      <a-button style="margin-left: 20px" type="primary" @click="showDrawer">
        添加
      </a-button>
    </div>
    <div style="margin-top: 10px">

      <a-table :columns="cValue.baseImgColumns" :data-source="imgList">

        <template #headerCell="{ column }">
          <template v-if="column.key === 'id'">
            <span>
              序号
            </span>
          </template>
        </template>

        <template #bodyCell="{ column, record}">
          <template v-if="column.key === 'id'">
            {{ record.id }}
          </template>
          <template v-else-if="column.key === 'module'">
            <div v-if="record.module === 0">首页推荐</div>
            <div v-else-if="record.module === 1">学院简介</div>
            <div v-else-if="record.module === 2">新闻动态</div>
            <div v-else-if="record.module === 3">教学实践</div>
            <div v-else-if="record.module === 50">学生活动</div>
            <div v-else-if="record.module === 51">教师活动</div>
            <div v-else-if="record.module === 100">首页设置</div>
          </template>

          <template v-else-if="column.key === 'status'">
            <div v-if="record.status === 1">可用</div>
            <div v-else>不可用</div>

          </template>

          <template v-else-if="column.key === 'baseUrl'">
            <div style="height:100px; width: 178px; line-height: 100px">
              <a-image v-if="record.module !== 2 && cFunc.checkIsImg(record.baseUrl)"
                       style="height:100px; width: 178px; line-height: 100px"
                       v-bind:src="'/api/img/' + record.baseUrl"></a-image>
              <a-image
                  v-else-if="record.module === 2 && cFunc.checkIsImg(record.baseUrl)"
                  style="height:100px; width: 42px !important; line-height: 100px"
                  v-bind:src="'/api/img/' + record.baseUrl"></a-image>
              <div v-else>{{ record.baseUrl }}</div>
            </div>
          </template>
          <template v-else-if="column.key === 'detailUrl'">
            <div style="height:100px; width: 178px; line-height: 100px">
              <a-image
                  v-if="cFunc.checkIsImg(record.detailUrl)"
                  v-bind:src="'/api/img/' + record.detailUrl"></a-image>
              <video v-else-if="cFunc.checkIsVideo(record.detailUrl)" controls preload="none"
                     style="height:100px; width: 178px; line-height: 100px"
                     v-bind:src="'/api/video/' + record.detailUrl"/>
              <div v-else>{{ record.detailUrl }}</div>

            </div>
          </template>

          <template v-else-if="column.key === 'action'">
            <div class="upload" style="float: left">
              <div class="upload_reveal" style="float:left;">
                替换基础图片
                <input
                    class="upload_file"
                    max="1"
                    type="file"
                    @change="(e)=>{ cFunc.uploadImg(e, result => {editImgContent(result, record.id, 'base')}) }"
                />
              </div>
              <div class="upload_reveal" style="margin-left: 20px; float: left">
                替换详情内容
                <input
                    class="upload_file"
                    max="1"
                    type="file"
                    @change="(e)=>{ cFunc.uploadImg(e, result => {editImgContent(result, record.id, 'detail')})}"
                />
              </div>
            </div>
            <span>
              <a-divider type="vertical"/>
              <a-select :options="cValue.statusSelectOptions" allow-clear="true" placeholder="设置状态" style="width: 100px"
                        @change="(value)=>{changeStatus(value, record.id, record.status)}"></a-select>
              <a-divider type="vertical"/>
            </span>
          </template>
        </template>
      </a-table>
      <a-drawer :closable="true" :visible="visible" placement="right" title="添加图片组" width="400" @close="onClose">
        <template #extra>
          <a-space>
            <a-button @click="onClose">取消</a-button>
            <a-button type="primary" @click="addImg">确认添加</a-button>
          </a-space>
        </template>
        <a-space>
          <a-select
              ref="select"
              :options="cValue.moduleAddOptions"
              allow-clear="true"
              placeholder="选择模块"
              style="width: 120px"
              @change="selectAddModule"
          ></a-select>
        </a-space>
        <p style="margin-top: 20px; font-size: 16px;">上传基础图片</p>
        <div class="upload" style="height: 150px">
          <a-image v-if="cFunc.checkIsImg(addBaseUrl)"
                   style="width: 178px; margin-top: 20px; float: left;"
                   v-bind:src="'/api/img/' + addBaseUrl"></a-image>
          <div v-else
               class="upload_reveal" style="float: left; margin-top: 20px; width: 140px">
            点击上传基础图片
            <input
                class="upload_file"
                max="1"
                type="file"
                @change="(e)=>{cFunc.uploadImg(e, result=>{uploadImgSuccessAdd(result, 'base')})}"
            />
          </div>

        </div>
        <div class="upload">
          <p style="font-size: 16px; margin-left: 0">上传详情图片</p>
          <a-image v-if="cFunc.checkIsImg(addDetailUrl)"
                   style="width: 178px; margin-top: 20px; float: left;"
                   v-bind:src="'/api/img/' + addDetailUrl"></a-image>
          <div v-else class="upload_reveal" style="float: left;margin-top: 20px; width: 140px">
            点击上传详情图片
            <input
                class="upload_file"
                max="1"
                type="file"
                @change="(e)=>{cFunc.uploadImg(e, result=>{uploadImgSuccessAdd(result, 'detail')})}"
            />
          </div>
        </div>
      </a-drawer>
    </div>
  </div>
</template>
<script>
import {ref} from 'vue';
import {message} from 'ant-design-vue';
import qs from "qs"; //导入qs
import cFunc from '../common/cFunc'

export default ({
  data() {
    return {
      imgList: [],
      module: 0,
      addModule: '',
    }
  },
  mounted() {
    this.getImgList(null)
  },
  methods: {
    /**
     * 添加图片组
     */
    addImg() {
      if (!cFunc.checkPermission()) {
        return;
      }
      if (!cFunc.checkValueIsAllValid(this.addBaseUrl, this.addDetailUrl, this.module)) {
        message.error("信息填写不完整！")
        return;
      }

      const imgAdd = {};
      imgAdd["baseUrl"] = this.addBaseUrl;
      imgAdd["detailUrl"] = this.addDetailUrl;
      imgAdd["module"] = this.addModule;
      cFunc.cwuRequest("/api/showImg/addImg", qs.stringify(imgAdd), () => {
        message.success("添加成功！")
        this.getImgList(this.addModule);
        this.onClose()
        // 清空数据
        this.addBaseUrl = ''
        this.addDetailUrl = ''
      })
    },

    /**
     * 图片组-添加图片成功回调
     * @param result
     * @param type
     */
    uploadImgSuccessAdd(result, type) {
      if (type === 'base') {
        this.addBaseUrl = result
      } else {
        this.addDetailUrl = result
      }
    },

    /**
     * 图片组设置状态监听事件
     * @param value 选择后的值
     * @param id 图片组id
     * @param status 图片组原来状态
     */
    changeStatus(value, id, status) {
      if (!cFunc.checkValueIsChange(value, status)) {
        this.module = ''
        return
      }
      if (!cFunc.checkPermission()) {
        return
      }
      console.log(id, status, value)
      this.editImgStatus(id, value)
    },

    /**
     * 修改图片组状态
     * @param id 图片组id
     * @param status 图片组状态
     */
    editImgStatus(id, status) {
      const imgStatus = {};
      imgStatus["status"] = status;
      imgStatus["id"] = id;
      cFunc.cwuRequest("/api/showImg/editImgStatus", qs.stringify(imgStatus), () => {
        message.success("设置成功！")
        this.getImgList(this.module);
      })
    },

    /**
     * 修改图片组内容
     * @param img 修改具体内容
     * @param id 图片组id
     * @param type 图片是基础还是详情
     */
    editImgContent(img, id, type) {
      if (!cFunc.checkPermission()) {
        return;
      }
      const imgContent = {};
      imgContent["img"] = img;
      imgContent["id"] = id;
      imgContent["type"] = type;
      cFunc.cwuRequest("/api/showImg/editImgContent", qs.stringify(imgContent), () => {
        message.success("修改成功！")
        this.getImgList(this.module);
      })
    },

    /**
     * 列表模块筛选监听
     * @param value
     */
    selectModule(value) {
      if (value === undefined) {
        return;
      }
      this.module = value
      this.getImgList(value)
    },

    /**
     * 添加图片组-选择模块监听事件
     * @param value
     */
    selectAddModule(value) {
      if (value === undefined) {
        return
      }
      this.addModule = value
    },

    /**
     * 请求列表
     * @param module 模块筛选，为null时请求全部
     */
    getImgList(module) {
      const imgModule = {};
      imgModule["module"] = module;
      cFunc.cwuRequest("/api/showImg/getImgList", qs.stringify(imgModule), result => {
        this.imgList = result
      })
    },
  },

  setup() {
    const visible = ref(false)
    const showDrawer = () => {
      visible.value = true
    }
    const addBaseUrl = ref('')
    const addDetailUrl = ref('')
    const onClose = () => {
      visible.value = false
      addBaseUrl.value = ''
      addDetailUrl.value = ''
    }

    return {
      visible,
      showDrawer,
      onClose,
      addBaseUrl,
      addDetailUrl,
    };
  },
});
</script>
