<template>
  <div class="home">
    <div class="navMenu" style="width: 256px" >
      <a-menu
          v-model:openKeys="openKeys"
          v-model:selectedKeys="selectedKeys"
          class="testM"
          mode="vertical"
          style="width: 226px"
          @click="handleClick"
      >
        <a-menu-item key="1" style="height: 50px; line-height: 50px">
          <template #icon>
            <MailOutlined/>
          </template>
          首页推荐
        </a-menu-item>
        <a-menu-item key="2" style="height: 50px; line-height: 50px">
          <template #icon>
            <CalendarOutlined/>
          </template>
          学院简介
        </a-menu-item>
        <a-menu-item key="3" style="height: 50px; line-height: 50px">
          <template #icon>
            <CalendarOutlined/>
          </template>
          教学实践
        </a-menu-item>
        <a-menu-item key="4" style="height: 50px; line-height: 50px">
          <template #icon>
            <CalendarOutlined/>
          </template>
          学生活动
        </a-menu-item>
        <a-menu-item key="5" style="height: 50px; line-height: 50px">
          <template #icon>
            <CalendarOutlined/>
          </template>
          教师活动
        </a-menu-item>
      </a-menu>
    </div>

    <div class="banner">
      <a-carousel autoplay>
        <div><a-image
            :width="1084"
            src="/api/img/mainRecommend.png"
        /></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
        <div><h3>4</h3></div>
      </a-carousel>
    </div>
  </div>
</template>

<script>
import {reactive, toRefs} from 'vue';
// import {DownOutlined} from '@ant-design/icons-vue';
// import {MenuProps} from 'ant-design-vue';
import {
  MailOutlined,
  CalendarOutlined,
} from '@ant-design/icons-vue';

export default({
  components: {
    // DownOutlined,
    MailOutlined,
    CalendarOutlined,
    // AppstoreOutlined,
    // SettingOutlined,
  },
  setup() {
    const state = reactive({
      selectedKeys: [1],
      openKeys: [],
    });
    const handleClick = menuInfo => {
      console.log('click ', menuInfo);
    };
    return {
      ...toRefs(state),
      handleClick,
    };
  },
});
</script>
<style scoped>
.home {
}

.ant-carousel {
  /*margin-bottom: 200px;*/
}

.ant-carousel :deep(.slick-slide) {
  text-align: center;
  height: 610px;
  line-height: 610px;
  background: #364d79;
  overflow: hidden;
}

.banner {
  height: 610px;
  width: 1084px !important;
  margin-right: 80px;
  margin-bottom: 650px;
  float: right;
}
.navMenu {
  float: left;
}

.ant-carousel :deep(.slick-slide h3) {
  color: #fff;
}
</style>
