<template>
  <div class="navTop">
    <a-row justify="start" type="flex">
      <a-col :span="6">
        📚 女院数据科学与信息技术学院管理平台
      </a-col>
      <a-col :span="10" :style="{ marginLeft:'420px'}">
        <a-menu
            v-model:selectedKeys="current"
            :style="{ lineHeight: '80px' }"
            mode="horizontal"
            theme="light">
<!--            v-on:mouseover="changeActive()"-->
<!--        >-->
          <!--          @click="handleClick" -->
          <!--          <a-menu-item key="1">-->
          <!--            <router-link to="/">-->
          <!--              首页-->
          <!--            </router-link>-->
          <!--          </a-menu-item>-->
          <a-menu-item key="2">
            <router-link to="/baseImgList">
              图片列表
            </router-link>
          </a-menu-item>
          <a-menu-item key="3">
            <router-link to="/timetableList">
              课表
            </router-link>
          </a-menu-item>
          <a-menu-item key="4">
            <router-link to="/sysConfigList">
              系统参数设置
            </router-link>
          </a-menu-item>
          <a-menu-item key="5">
            <router-link to="/userList">
              管理员设置
            </router-link>
          </a-menu-item>
          <a-menu-item key="6">
            <router-link v-if="!user.userName || user.userName  === '登录'" to="/login">
              登录
            </router-link>
            <router-link v-else to="baseImgList">
              {{ user.userName }}，你好
            </router-link>
          </a-menu-item>
        </a-menu>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import {store} from '../common/cStore'

export default ({
  data() {
    return {
      user: store.state,
      currentKey: '2'
    };
  },

});
</script>

<style>
.navTop {
  height: 100%;
  line-height: 80px;
  font-size: 18px;
  width: 100%;
  color: rgb(23, 22, 22);
}

.navTop a {
  color: #000000 !important;
}

.navTop .active {
  color: #000 !important;
}
</style>
