<template>
  <div class="userList">
    <div class="choose">
      <a-space style="float: left">
        <a-select
            ref="select"
            v-model:value="value1"
            :options="cValue.statusOptions"
            placeholder="状态筛选"
            style="width: 120px"
            @change="selectStatus"
            @focus="focus"
        ></a-select>
      </a-space>
    </div>
    <div class="user">
      <a-table :columns="cValue.sysColumns" :data-source="configList" style="margin-top: 10px">
        <template #headerCell="{ column }">
          <template v-if="column.key === 'id'">
            <span>
              序号
            </span>
          </template>
        </template>

        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'id'">
            <a>
              {{ record.id }}
            </a>
          </template>

          <template v-else-if="column.key === 'status'">
            <div v-if="record.status === 1">可用</div>
            <div v-else>不可用</div>

          </template>

          <template v-else-if="column.key === 'module'">
            <div v-if="record.module === 0">首页</div>
            <div v-else-if="record.module === 1">学院简介</div>
            <div v-else-if="record.module === 2">新闻动态</div>
            <div v-else-if="record.module === 3">教学实践</div>
            <div v-else-if="record.module === 4">教学安排</div>
            <div v-else-if="record.module === 5">师生活动</div>

          </template>

          <template v-else-if="column.key === 'configMain'">
            <div style="height:80px; width: 142px; line-height: 80px">
              <a-image
                  v-if="cFunc.checkIsImg(record.configMain)"
                  style="height:80px; width: 142px; line-height: 80px"
                  v-bind:src="'/api/img/' + record.configMain"></a-image>
              <div v-else>{{ record.configMain }}</div>
            </div>
          </template>
          <template v-else-if="column.key==='configSpare'">
            <div style="height:80px; width: 142px; line-height: 80px">
              <div v-if="record.configSpare === null ">{{ record.configSpare }}</div>
              <a-image v-else-if="cFunc.checkIsImg(record.configSpare)"
                       v-bind:src="'/api/img/' + record.configSpare"></a-image>

            </div>
          </template>
          <template v-else-if="column.key === 'action'">
            <div>
              <a-divider type="vertical"/>
              <a class="ant-dropdown-link" @click="showDrawer(record.id)">修改</a>
              <a-divider type="vertical"/>
              <a-select :options="cValue.statusSelectOptions" allow-clear="true"
                        placeholder="设置状态" style="width: 100px"
                        @change="(value)=>{changeStatus(value, record.id, record.status)}"></a-select>
            </div>
          </template>
        </template>
      </a-table>
    </div>
    <a-drawer :closable="true" :visible="visible" placement="right" title="编辑当前设置" width="400" @close="onClose">
      <template #extra>
        <a-space>
          <a-button @click="onClose">取消</a-button>
          <a-button type="primary" @click="submitConfig">确认更改</a-button>
        </a-space>
      </template>
      <p style="margin-top: 20px; font-size: 16px;">编辑主要设置(文字或图片)</p>
      <a-input v-model:value="mainConfigEnter" placeholder="输入主要设置" style="height: 40px"/>
      <div class="upload">
        <div class="upload_reveal" style="float: left; margin-top: 20px">
          上传设置文件
          <input
              class="upload_file"
              max="1"
              type="file"
              @change="(e)=>{ cFunc.uploadImg(e, result=>{uploadImgSuccess(result, 'main')}) }"
          />
        </div>
      </div>
      <div v-if="thisConfig === 3">
        <p style="margin-top: 100px; font-size: 16px; margin-left: 0px">编辑备用设置(文字或图片)</p>
        <a-input v-model:value="spareConfigEnter" placeholder="输入备用设置" style="height: 40px; "/>
        <div class="upload">
          <div class="upload_reveal" style="float: left;margin-top: 20px; width: 140px">
            上传备用设置文件
            <input
                class="upload_file"
                max="1"
                type="file"
                @change="(e)=>{ cFunc.uploadImg(e, result=>{uploadImgSuccess(result, 'spare')}) }"
            />
          </div>
        </div>
      </div>
      <div style="margin-top: 100px">
        <a-divider dashed />
        <a-alert message="单位：loop_time: 秒，time_to_home: 分钟" showIcon type="info" />
      </div>
    </a-drawer>

  </div>
</template>
<script>
import {ref} from 'vue';
import {message} from 'ant-design-vue';
import qs from "qs";
import cFunc from '../common/cFunc'

export default {
  data() {
    return {
      configList: [],
    }
  },
  setup() {
    const visible = ref(false);
    const thisConfig = ref();
    const mainConfigEnter = ref('')
    const spareConfigEnter = ref('')
    const showDrawer = (id) => {
      console.log(id)
      visible.value = true;
      thisConfig.value = id
    };
    const onClose = () => {
      visible.value = false
      mainConfigEnter.value = ''
      spareConfigEnter.value = ''
    };
    return {
      showDrawer,
      onClose,
      visible,
      thisConfig,
      spareConfigEnter,
      mainConfigEnter
    }
  },
  mounted() {
    this.getConfigList(null);
  },
  methods: {
    /**
     * 图片上传成功回调
     * @param result
     * @param whichConfig
     */
    uploadImgSuccess(result, whichConfig) {
      if (whichConfig === 'main') {
        this.mainConfigEnter = result
      } else {
        this.spareConfigEnter = result
      }
    },

    /**
     * 修改设置内容
     */
    editConfigContent() {
      const configUpdate = {};
      configUpdate["mainConfig"] = this.mainConfigEnter;
      configUpdate["spareConfig"] = this.spareConfigEnter;
      configUpdate["id"] = this.thisConfig;
      cFunc.cwuRequest("/api/config/editConfigContent", qs.stringify(configUpdate), () => {
        message.success("设置更新成功！")
        this.onClose()
        this.getConfigList(null);
      })
    },

    /**
     * 确认修改-内容验证
     */
    submitConfig() {
      if (!cFunc.checkPermission()) {
        return
      }
      if (!cFunc.checkValueIsValid(this.mainConfigEnter, this.spareConfigEnter)) {
        message.error("设置内容未更改！")
        return
      }
      console.log(this.mainConfigEnter, this.spareConfigEnter)
      this.editConfigContent()
    },

    /**
     * 状态筛选-内容验证
     * @param value 选择的状态值
     */
    selectStatus(value) {
      if (value === undefined) {
        return
      }
      this.getConfigList(value)
    },

    /**
     * 状态修改-内容验证
     * @param value 改变的状态值
     * @param id 所属设置id
     * @param status 原状态值
     */
    changeStatus(value, id, status) {
      if (!cFunc.checkValueIsChange(value, status)) {
        return
      }
      if (!cFunc.checkPermission()) {
        return
      }
      this.editConfigStatus(id, value)
    },

    /**
     * 状态更改
     * @param id 所属设置id
     * @param status 更改的状态
     */
    editConfigStatus(id, status) {
      const configStatus = {};
      configStatus["status"] = status;
      configStatus["id"] = id;
      cFunc.cwuRequest("/api/config/editConfigStatus", qs.stringify(configStatus), () => {
        message.success("修改状态成功！")
        this.getConfigList(null);
      })
    },

    /**
     * 根据状态请求列表
     * @param status 状态
     */
    getConfigList(status) {
      const userStatus = {};
      userStatus["status"] = status;
      cFunc.cwuRequest("/api/config/getConfigList", qs.stringify(userStatus), result => {
        this.configList = result
      })
    },
  }
}
</script>
