<template>
  <div class="select" style="float: left">
    <a-space>
      <a-cascader :options="cascaderOptions"
                  fieldNames="{ label: 'label', value: 'value', children: 'children'}"
                  placeholder="选择层级" style="width: auto" @change="selectCondition"/>
    </a-space>
    <a-button style="margin-left: 20px" type="primary">
      <a class="ant-dropdown-link" @click="showDrawer">
        编辑层级
      </a>
    </a-button>
    <a-button style="margin-left: 20px" type="primary">
      <router-link to="/timetableAdd">
        添加新课表
      </router-link>
    </a-button>
  </div>
  <div class="list">
    <a-table :columns="cValue.timetableColumns" :data-source="timetableList" style="margin-top: 10px">
      <template #headerCell="{ column }">
        <template v-if="column.key === 'id'">
        <span>
          序号
        </span>
        </template>
      </template>

      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'id'">
          <a>
            {{ record.id }}
          </a>
        </template>
        <template v-else-if="column.key==='timetableUrl'">
          <div style="height:100px; width: 57px; line-height: 100px; margin: auto">
            <a-image
                v-if="cFunc.checkIsImg(record.timetableUrl)"
                v-bind:src="'/api/img/' + record.timetableUrl"></a-image>
            <div v-else>{{ record.timetableUrl }}</div>
          </div>
        </template>

        <template v-else-if="column.key==='dayOfWeek'">
          <div v-if="record.dayOfWeek === 1">星期一</div>
          <div v-else-if="record.dayOfWeek === 2">星期二</div>
          <div v-else-if="record.dayOfWeek === 3">星期三</div>
          <div v-else-if="record.dayOfWeek === 4">星期四</div>
          <div v-else-if="record.dayOfWeek === 5">星期五</div>

        </template>
        <template v-else-if="column.key==='timetableUrlSelected'">
          <div style="height:100px; width: 57px; line-height: 100px; margin: auto">
            <a-image
                v-if="cFunc.checkIsImg(record.timetableUrlSelected)"
                v-bind:src="'/api/img/' + record.timetableUrlSelected"></a-image>
            <div v-else>{{ record.timetableUrlSelected }}</div>
          </div>
        </template>

        <template v-else-if="column.key === 'action'">
          <a-divider type="vertical"/>
          <div class="upload" style="float: left">
            <div class="upload_reveal" style="float:left;">
              替换课表
              <input
                  class="upload_file"
                  max="1"
                  type="file"
                  @change="(e)=>{ cFunc.uploadImg(e, result=>{uploadImgSuccess(result, record.id, record.dayOfWeek, 'timetable')}) }"
              />
            </div>
          </div>

          <div class="upload" style="float: left; margin-left: 20px;">
            <div class="upload_reveal" style="margin-left: 20px; float: left">
              替换选中课表
              <input
                  class="upload_file"
                  max="1"
                  type="file"
                  @change="(e)=>{ cFunc.uploadImg(e, result=>{uploadImgSuccess(result, record.id, record.dayOfWeek, 'timetableSelected')})}"
              />
            </div>
          </div>

        </template>
      </template>

    </a-table>

    <a-drawer :closable="true" :visible="visible" placement="right" width="400" @close="onClose">
      <p style="margin-top: 20px; font-size: 16px;">编辑当前层级</p>
      <a-space>
        <a-select ref="select" :options="cValue.statusSelectOptions"
                  placeholder="设置状态"
                  style="width: 120px"
                  @change="selectStatus"
                  @focus="focus"
        ></a-select>
      </a-space>
      <a-input v-model:value="editFirstCondition" placeholder="输入第一层级（如年级）" style="height: 40px; margin-top: 10px"/>
      <a-input v-model:value="editSecondCondition" placeholder="输入第二层级（如具体班级）" style="height: 40px; margin-top: 10px"/>
      <div>
        <a-checkbox v-if="editFirstCondition !== ''" v-model:checked="checked" style="margin-top: 20px"
                    @change="selectSync">同步第一层级修改
        </a-checkbox>
      </div>
      <a-button style="margin-top: 20px" type="primary" @click="editCondition">确认修改</a-button>
      <p style="margin-top: 20px; font-size: 16px">新增层级</p>
      <a-space>
        <a-select
            ref="select"
            :options="cValue.timetableModuleOptions"
            placeholder="选择主模块"
            style="width: 120px"
            @change="selectModule"
            @focus="focus"
        ></a-select>
      </a-space>
      <a-input v-model:value="addFirstCondition" placeholder="输入第一层级（如年级）" style="height: 40px; margin-top: 10px"/>
      <a-input v-model:value="addSecondCondition" placeholder="输入第二层级（如具体班级）" style="height: 40px; margin-top: 10px"/>
      <a-button style="margin-top: 20px" type="primary" @click="addCondition">确认新增</a-button>
    </a-drawer>
  </div>
</template>
<script>
import {ref} from 'vue';
import {message} from 'ant-design-vue';
import qs from "qs"; //导入qs
import cFunc from '../common/cFunc'

export default {
  mounted() {
    this.getCascaderOptions()
    this.getTimetable()
  },
  setup() {
    const visible = ref(false);
    const showDrawer = () => {
      visible.value = true;
    };
    const onClose = () => {
      visible.value = false;
    };
    return {
      visible,
      showDrawer,
      onClose,
    }

  },
  data() {
    return {
      replaceTimetableList: ['', '', '', '', ''],
      replaceTimetableSelectedList: ['', '', '', '', ''],
      cascaderOptions: [],
      timetableList: [],
      conditionId: 0,
      addFirstCondition: '',
      addSecondCondition: '',
      editFirstCondition: '',
      editSecondCondition: '',
      selectStatusValue: '',
      selectModuleValue: '',
      condition: [],
      checked: false,
      isChecked: false
    }
  },
  methods: {
    /**
     * 选择【同步】回调
     * @param value
     */
    selectSync(value) {
      this.isChecked = value.target.checked
    },

    /**
     * 跳转添加课表页面
     */
    goAddTimetable() {
      this.$router.push({
        path: '/timetableAdd',
        query: {
          condition: this.condition,
          conditionId: this.conditionId
        },
      })
    },

    /**
     * 新增层级
     */
    addCondition() {
      if (!cFunc.checkPermission()) {
        return
      }
      if (!cFunc.checkValueIsAllValid(this.addSecondCondition, this.addFirstCondition, this.selectModuleValue)) {
        message.error("信息填写不完整！")
        return
      }
      const addCondition = {};
      addCondition["firstCondition"] = this.addFirstCondition
      addCondition["secondCondition"] = this.addSecondCondition
      addCondition["module"] = this.selectModuleValue
      cFunc.cwuRequest("/api/condition/addCondition", qs.stringify(addCondition), () => {
        // 重新获取数据
        this.getCascaderOptions();
        message.success("添加层级成功, 正在为您跳转添加课表界面")
        this.condition = ["学生", this.addFirstCondition, this.addSecondCondition]
        this.condition[0] = (this.selectModuleValue === 41) ? "教师" : "教室"
        // 清空输入框
        this.addFirstCondition = ''
        this.addSecondCondition = ''
        this.goAddTimetable()
      })
    },
    /**
     * 修改层级
     */
    editCondition() {
      if (!cFunc.checkPermission()) {
        return
      }
      if(!cFunc.checkValueIsValid(this.editFirstCondition, this.editSecondCondition, this.selectStatusValue)) {
        message.error("层级内容未更改！")
        return
      }
      const editCondition = {};
      editCondition["firstCondition"] = this.editFirstCondition
      editCondition["secondCondition"] = this.editSecondCondition
      editCondition["status"] = this.selectStatusValue
      editCondition["id"] = this.conditionId;
      editCondition["isSyn"] = this.isChecked;
      cFunc.cwuRequest("/api/condition/editCondition", qs.stringify(editCondition), () => {
        message.success("修改层级成功！")
        // 重新获取数据
        this.getCascaderOptions();
        this.getTimetable(this.conditionId)
        // 清空输入框
        this.editFirstCondition = ''
        this.editSecondCondition = ''
      })
    },
    /**
     * 新增层级-选择模块
     * @param value
     */
    selectModule(value) {
      if (value === undefined) {
        return
      }
      this.selectModuleValue = value
    },
    /**
     * 修改层级-选择状态
     * @param value
     */
    selectStatus(value) {
      if (value === undefined) {
        return
      }
      this.selectStatusValue = value
    },
    /**
     * 选择层级回调
     * @param value
     */
    selectCondition(value) {
      if (value === undefined) {
        return
      }
      this.condition = value
      this.checkIsHaveTimetable()
    },

    /**
     * 检查当前选中层级是否有课表
     */
    checkIsHaveTimetable() {
      cFunc.checkIsHaveTimetable(this.condition, result => {
        this.conditionId = result.conditionId
        // 有课表，id赋值
        if (result.isHaveTimetable === 1) {
          // 查询具体课表
          this.getTimetable(this.conditionId)
        } else {
          // 没有课表
          message.error("该层级下无课表，正在跳转添加页面")
          this.goAddTimetable()
        }
      })
    },

    /**
     * 通过conditionId获取课表
     * @param conditionId 层级id
     */
    getTimetable(conditionId) {
      const timetable = {};
      timetable["conditionId"] = conditionId;
      cFunc.cwuRequest("/api/timetable/getTimetableByCIdWeb", qs.stringify(timetable), result => {
        this.timetableList = result
      }, res => {
        message.error(res.data.msg)
      })
    },


    /**
     * 获取级联选择器数据
     */
    getCascaderOptions() {
      cFunc.getCascaderOptions(result => {
        this.cascaderOptions = result
      })
    },

    /**
     * 替换课表图片
     * @param id    课表id
     * @param image 替换的课表图片
     * @param tag   替换的是选中还是未选中
     * @param week  替换的是周几的课表（用于显示）
     */
    replaceTimetable(id, image, tag, week) {
      if (!cFunc.checkPermission()) {
        return;
      }
      const timetable = {};
      timetable["id"] = id;
      timetable["imgType"] = (tag === 'timetable') ? "timetable" : "timetableSelected"
      timetable["image"] = image
      cFunc.cwuRequest("/api/timetable/editTimetable", qs.stringify(timetable), () => {
        message.success("更改成功！")
        this.getTimetable(this.conditionId)
        // 清除列表内容
        if (tag == 'timetable') {
          this.replaceTimetableList[week - 1] = ''
        } else {
          this.replaceTimetableSelectedList[week - 1] = ''
        }
      })
    },
    /**
     * 图片上传成功回调（更新课表）
     * @param result  图片url
     * @param id      课表id
     * @param week    周几
     * @param tag     选中？未选中？
     */
    uploadImgSuccess(result, id, week, tag) {
      if (tag == 'timetable') {
        this.replaceTimetableList[week - 1] = result
      } else {
        this.replaceTimetableSelectedList[week - 1] = result
      }
      this.replaceTimetable(id, result, tag, week)
    },
  }
}
</script>
<style>
.upload_reveal {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #409EFF;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
}

.upload_file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*透明度为0*/
  opacity: 0 !important;
  cursor: pointer;
}

</style>
