<template>
  <div class="choose">
    <a-space style="float: left">
      <a-cascader :options="cascaderOptions"
                  v-model:value="condition"
                  fieldNames="{ label: 'label', value: 'value', children: 'children'}"
                  placeholder="选择层级" style="width: auto" @change="selectCondition"/>

      <a-button style="margin: auto;" type="primary" @click="clearTimetableList('unselected')">清空未选中课表</a-button>
      <a-button style="margin: auto;" type="primary" @click="clearTimetableList('selected')">清空选中课表</a-button>
      <a-button style="margin: auto;" type="primary" @click="addTimetable">确认上传</a-button>
    </a-space>
  </div>
  <div>
    <a-divider style="margin-top: 60px">未选中状态下的课表图片</a-divider>
    <a-row align="middle" justify="space-around" type="flex">
      <div v-for="(item,index) in cValue.dayOfWeekColumns"
           :key="item.label"
           :value="item.value" style="margin-top: 10px">
        <a-col :span="5">
          <div style="height: 190px">
            <a-image
                v-if="cFunc.checkIsImg(timetableUrlList[index])"
                alt="" class="upload_img"
                style="width: 100px; height: 180px; float:left;"
                v-bind:src="'/api/img/' + timetableUrlList[index]"/>
            <div v-else class="upload_reveal" style="float:left;">
              {{ item.label }}课表
              <input
                  class="upload_file"
                  max="1"
                  type="file"
                  @change="(e)=>{ cFunc.uploadImg(e, result=>{uploadImgSuccess(result, index, 'timetable')}) }"
              />
            </div>
          </div>
        </a-col>
      </div>
    </a-row>
    <a-divider>选中状态下的课表图片</a-divider>
    <a-row align="middle" justify="space-around" type="flex">
      <div v-for="(item, index) in cValue.dayOfWeekColumns"
           :key="item.label"
           :value="item.value" style="margin-top: 10px">
        <a-col :span="5">
          <div style="height: 190px">
            <a-image
                v-if="cFunc.checkIsImg(timetableSelectUrlList[index])"
                alt="" class="upload_img"
                style="width: 100px; height: 180px; float:left;"
                v-bind:src="'/api/img/' + timetableSelectUrlList[index]"/>
            <div v-else class="upload_reveal" style="float:left;">
              {{ item.label }}选中课表
              <input
                  class="upload_file"
                  max="1"
                  type="file"
                  @change="(e)=>{ cFunc.uploadImg(e, result=>{uploadImgSuccess(result, index, 'selected')}) }"
              />
            </div>
          </div>
        </a-col>
      </div>
    </a-row>
    <a-divider/>

  </div>

</template>
<script>
import {message} from 'ant-design-vue';
import cFunc from '../common/cFunc'

export default ({
  mounted() {
    this.getCascaderOptions()
    this.getConditionFromRouter()
  },
  data() {
    return {
      condition: [],
      cascaderOptions: [],
      conditionId: 0,
      timetableUrlList: ['', '', '', '', ''],
      timetableSelectUrlList: ['', '', '', '', ''],
    }
  },
  methods: {
    /**
     * 清空列表
     * @param type 清空列表
     */
    clearTimetableList(type) {
      if (type === 'selected') {
        this.timetableSelectUrlList = ['', '', '', '', '']
      }
      if (type === 'unselected') {
        this.timetableUrlList = ['', '', '', '', '']
      }
      message.success("清空成功！")
    },

    /**
     * 添加课表
     */
    addTimetable() {
      if (!cFunc.checkPermission()) {
        return;
      }
      if (this.conditionId === 0) {
        message.error("未选择层级！")
        return;
      }
      for (let i = 0; i < 5; i++) {
        if (this.timetableUrlList[i] == '' || this.timetableSelectUrlList[i] == '') {
          message.error("图片未选择完整！")
          return;
        }
      }
      let timetableListMap = {
        'timetableUrlList': this.timetableUrlList,
        'timetableSelectUrlList': this.timetableSelectUrlList,
        'conditionId': this.conditionId
      };

      cFunc.cwuRequestJson("/api/timetable/addTimetableList", JSON.stringify(timetableListMap), () => {
        message.success("添加课表成功！")
        // 清空数组内容
        this.timetableUrlList = ['', '', '', '', '']
        this.timetableSelectUrlList = ['', '', '', '', '']
        this.condition = []
      })
    },

    /**
     * 选择层级回调
     * @param value
     */
    selectCondition(value) {
      if (value === undefined) {
        return;
      }
      this.condition = value
      this.checkIsHaveTimetable()
    },

    /**
     * 检查该层级是否有课表
     * @param value 层级
     */
    checkIsHaveTimetable() {
      cFunc.checkIsHaveTimetable(this.condition, result => {
        // 没有课表，id赋值
        if (result.isHaveTimetable === 0) {
          this.conditionId = result.conditionId
        } else {
          // 有课表
          message.error("该层级下已经存在课表，请重新选择，需要编辑请前往【课表】界面！")
          this.condition = []
        }
      })
    },

    /**
     * 从路由获取默认层级
     */
    getConditionFromRouter() {
      if (this.$route.query.condition === undefined) {
        return
      }
      this.condition = this.$route.query.condition
      this.conditionId = this.$route.query.conditionId
    },

    /**
     * 获取级联选择器数据
     */
    getCascaderOptions() {
      cFunc.getCascaderOptions(result => {
        this.cascaderOptions = result
      })
    },

    uploadImgSuccess(result, index, type) {
      if (type === 'timetable') {
        this.timetableUrlList[index] = result
      } else {
        this.timetableSelectUrlList[index] = result
      }
    },
  }

});
</script>

<style>
.avatar-uploader > .ant-upload {
  width: 114px;
  height: 200px;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
</style>
