<template>
  <div class="login-container" style="margin-top: 80px">
    <a-form ref="form" :model="userRegisterForm" autocomplete="off"
            class="login-form"
            @finish="register">
      <h2 class="title">欢迎注册</h2>

      <a-form-item name="schoolId">

        <a-input-number v-model:value="userRegisterForm.schoolId" :controls=false placeholder="请输入学号/工号"
                        style="width: 100%">
          <template #prefix>
            <user-outlined type="user"/>
          </template>
        </a-input-number>
      </a-form-item>

      <a-form-item name="name">
        <a-input v-model:value="userRegisterForm.name" placeholder="请输入姓名">
          <template #prefix>
            <solution-outlined/>
          </template>
        </a-input>
      </a-form-item>

      <a-form-item name="password">
        <a-input-password v-model:value="userRegisterForm.password" placeholder="请输入密码">
          <template #prefix>
            <lock-outlined/>
          </template>
        </a-input-password>
      </a-form-item>

      <a-form-item>
        <a-button class="submit" html-type="submit" type="primary">注册</a-button>
      </a-form-item>

      <a-form-item>
        已有账号？去<a>
        <router-link to="/login">登录</router-link>
      </a>
      </a-form-item>

    </a-form>
  </div>
</template>
<script>
import {UserOutlined, LockOutlined, SolutionOutlined} from '@ant-design/icons-vue';
import {reactive} from 'vue';
import {message} from 'ant-design-vue';
import qs from "qs"; //导入qs
import cFunc from '../common/cFunc'

export default {
  components: {
    UserOutlined,
    LockOutlined,
    SolutionOutlined
  },
  setup() {
    const userRegisterForm = reactive({
      name: '',
      password: '',
      schoolId: '',
    });

    return {
      userRegisterForm,
    };
  },

  methods: {
    // 注册
    register(value) {
      if (!this.checkInform(value)) {
        return
      }
      const user = {};
      user["name"] = value.name;
      user["schoolId"] = value.schoolId;
      user["password"] = value.password;
      cFunc.cwuRequest("/api/user/register", qs.stringify(user), () => {
        message.success("注册成功！")
        this.$router.push({
          path: 'login',
          query: {
            schoolId: value.schoolId,
            password: value.password
          }})
      })
    },
    // 验证格式
    checkInform(value) {
      if(!cFunc.checkValueIsAllValid(value.schoolId, value.name, value.password)) {
        message.error("信息未填写完整！")
        return false
      }
      if (value.schoolId.toString().length !== 9 && value.schoolId.toString().length !== 7) {
        message.error("学号/工号填写错误！")
        return false
      }
      if (value.password.toString().length <= 6) {
        message.error("请输入六位数以上的密码")
        return false
      }
      return true
    }
  },
};
</script>
<style scoped>
.login-form {
  width: 565px;
  height: 422px;
  margin: 0 auto;
  background-color: white;
  /*background: url("../../assets/houTaiKuang.png");*/
  padding: 40px 110px;
}

/* 背景 */
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: url("../../assets/mcdku.jpg") no-repeat;*/
  background-size: 100% 100%;
}

/* 登陆按钮 */
.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
}

/* 用户登陆标题 */
.title {
  margin-bottom: 50px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  font-family: Microsoft Yahei;
}

/* 输入框 */
.inputBox {
  height: 45px;
}

/* 输入框内左边距50px */
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 50px;
}
</style>
