<template>
  <div class="userList">
    <div class="choose">
      <a-space style="float: left">
        <a-select
            ref="select"
            :options="cValue.permissionsOptions"
            placeholder="权限筛选"
            style="width: 120px"
            @change="selectPermissions"
            @focus="focus"
        ></a-select>
      </a-space>
    </div>
    <div class="user">
      <a-table :columns="cValue.userColumns" :data-source="userList" style="margin-top: 10px">
        <template #headerCell="{ column }">
          <template v-if="column.key === 'id'">
        <span>
          序号
        </span>
          </template>
        </template>

        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'id'">
            <a>
              {{ record.id }}
            </a>
          </template>
          <template v-else-if="column.key === 'permissions'">
            <div v-if="record.permissions === 0">超级管理员</div>
            <div v-else-if="record.permissions === 1">一级管理员</div>
            <div v-else-if="record.permissions === 2">二级管理员</div>
            <div v-else-if="record.permissions === 3">三级管理员</div>

          </template>
          <template v-else-if="column.key === 'status'">
            <div v-if="record.status === 1">生效</div>
            <div v-else>不生效</div>

          </template>
          <template v-else-if="column.key === 'action'">
            <div v-if="record.permissions !== 0">
              <a-divider type="vertical"/>
              <a-select :options="cValue.permissionChangeOptions" allow-clear="true" placeholder="更改权限"
                        style="width: 135px"
                        @change="(value)=>{changePermissions(value, record.id, record.permissions, record.userName)}"></a-select>
              <a-divider type="vertical"/>
              <a-select :options="cValue.statusSelectOptions" allow-clear="true" placeholder="设置状态"
                        style="width: 100px"
                        @change="(value)=>{changeStatus(value, record.id, record.permissions, record.status, record.userName)}"></a-select>
            </div>
            <div v-else style="margin-left: 20px">
              超级管理员不可修改
            </div>
          </template>
        </template>
      </a-table>
    </div>
  </div>
</template>
<script>
import {message} from 'ant-design-vue';
import qs from "qs"; //导入qs
import cFunc from '../common/cFunc'

export default {
  methods: {
    /**
     * 权限筛选
     * @param value 选中的权限
     */
    selectPermissions(value) {
      if (value === undefined) {
        return;
      }
      this.getUserList(value)
    },

    /**
     * 修改状态-数据验证
     * @param value 修改的权限值
     * @param id 被修改管理员的id
     * @param permissions 被修改管理员的权限
     * @param status 被修改管理员的状态
     * @param userName
     */
    changeStatus(value, id, permissions, status, userName) {
      let mUserName = cFunc.getSessionUserName()
      if (!cFunc.checkValueIsChange(value, status)) {
        return;
      }
      if (mUserName === userName) {
        message.error("自身权限无法修改！")
        return;
      }
      if (!cFunc.checkPermission(permissions)) {
        return;
      }
      console.log(value, status)
      this.editUserStatus(id, value)
    },

    /**
     * 修改权限-数据验证
     * @param value 修改的权限值
     * @param id 被修改管理员的id
     * @param permissions 被修改管理员的权限
     * @param userName 被修改管理员的userName
     */
    changePermissions(value, id, permissions, userName) {
      let mUserName = cFunc.getSessionUserName()
      if (!cFunc.checkValueIsChange(value, permissions)) {
        return;
      }
      console.log(id, permissions, value)
      if (mUserName === userName) {
        message.error("自身权限无法修改！")
        return;
      }
      if (!cFunc.checkPermission(permissions)) {
        return;
      }
      let myPermissions = cFunc.getSessionPermissions() - 0;
      // 我0，最大能求修改到1
      if (value - 1 < myPermissions) {
        message.error("修改后的权限不能大于等于自身权限！")
        return;
      }
      this.editUserPermissions(id, value)
    },

    /**
     * 修改管理员状态
     * @param id 被修改管理员的id
     * @param status 修改的状态值
     */
    editUserStatus(id, status) {
      const userStatus = {};
      userStatus["status"] = status;
      userStatus["id"] = id;
      cFunc.cwuRequest("/api/user/editUserStatus", qs.stringify(userStatus), () => {
        message.success("修改状态成功！")
        this.getUserList(null);
      })
    },

    /**
     * 修改管理员权限
     * @param id 被修改管理员的id
     * @param permissions 修改的权限值
     */
    editUserPermissions(id, permissions) {
      const userPermissions = {};
      userPermissions["permissions"] = permissions;
      userPermissions["id"] = id;
      cFunc.cwuRequest("/api/user/editUserPermissions", qs.stringify(userPermissions), () => {
        message.success("修改权限成功！")
        this.getUserList(null);
      })
    },

    /**
     * 根据权限获取管理员列表
     * @param permissions 选中的权限
     */
    getUserList(permissions) {
      const userPermissions = {};
      userPermissions["permissions"] = permissions;
      cFunc.cwuRequest("/api/user/getUserList", qs.stringify(userPermissions), result => {
        this.userList = result
      })
    },

  },
  mounted() {
    this.getUserList(null)
  },

  data() {
    return {
      userList: [],
    }
  }
}
</script>
