<template>
  <div class="login-container" style="margin-top: 80px">
    <a-form ref="form" :model="userLoginFrom" autocomplete="off"
            class="login-form"
            @finish="login">
      <h2 class="title">欢迎登录</h2>

      <a-form-item name="schoolId">
        <a-input-number v-model:value="userLoginFrom.schoolId" :controls=false placeholder="请输入学号/工号"
                        style="width: 100%">
          <template #prefix>
            <user-outlined/>
          </template>
        </a-input-number>
      </a-form-item>

      <a-form-item name="password">
        <a-input-password v-model:value="userLoginFrom.password" placeholder="密码">
          <template #prefix>
            <lock-outlined/>
          </template>
        </a-input-password>
      </a-form-item>

      <a-form-item>
        <a-button class="submit" html-type="submit" type="primary">登录</a-button>
      </a-form-item>

      <a-form-item>
        没有账号？去<a>
        <router-link to="/register">注册</router-link>
      </a>
      </a-form-item>

    </a-form>
  </div>
</template>
<script>
import {UserOutlined, LockOutlined} from '@ant-design/icons-vue';
import {message} from 'ant-design-vue';
import qs from "qs"; //导入qs
import cFunc from '../common/cFunc'
import {store} from '../common/cStore'

export default {
  components: {
    UserOutlined,
    LockOutlined
  },
  mounted() {
    this.getUserFromRegister()
  },
  data() {
    return {
      isFromRegister: false,
      userLoginFrom: {
        schoolId: '',
        password: '',
      },

    }
  },
  methods: {
    // 从注册页面跳转过来
    getUserFromRegister() {
      const schoolId = this.$route.query.schoolId
      const password = this.$route.query.password
      console.log(schoolId, password)
      if (schoolId != undefined && password != undefined) {
        this.userLoginFrom.schoolId = schoolId
        this.userLoginFrom.password = password
        this.isFromRegister = true
      }
    },

    // 设置session value
    sessionSetValue(result) {
      cFunc.setSessionToken(result.token)
      cFunc.setSessionUserName(result.userName)
      cFunc.setSessionPermissions(result.permissions)
    },
    // 登录
    login(values) {
      // 检查数据是否为空
      if (!cFunc.checkValueIsAllValid(values.schoolId, values.password)) {
        message.error("信息未填写完整！")
        return
      }
      const user = {};
      user["schoolId"] = values.schoolId;
      user["password"] = values.password;
      cFunc.cwuRequest("/api/user/login", qs.stringify(user), result => {
        message.success("登录成功！")
        this.sessionSetValue(result)
        store.setUserName(result.userName)
        this.backToOrigin()
      })
    },

    // 返回上一个页面，如果是从注册跳过来的，回到上上上一个页面（某页面-登录-注册-登录），即登录的前一个页面
    backToOrigin() {
      try {
        var delta = (this.isFromRegister) ? -3 : -1
        this.$router.go(delta);
      } catch (e) {
        // 没有上一个页面时回到主页
        console.log(e)
        this.$router.push('/baseImgList')
      }
    }
  },
};
</script>
<style scoped>
.login-form {
  width: 565px;
  height: 372px;
  margin: 0 auto;
  background-color: white;
  /*background: url("../../assets/houTaiKuang.png");*/
  padding: 40px 110px;
}

/* 背景 */
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: url("../../assets/mcdku.jpg") no-repeat;*/
  background-size: 100% 100%;
}

/* 登陆按钮 */
.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
}

/* 用户登陆标题 */
.title {
  margin-bottom: 50px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  font-family: Microsoft Yahei;
}

/* 输入框 */
.inputBox {
  height: 45px;
}

/* 输入框内左边距50px */
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 50px;
}
</style>
