<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <div id="components-layout-demo-basic">
      <a-layout>
        <a-layout-header>
            <div><Nav/></div>
        </a-layout-header>

        <a-layout-content>
          <router-view></router-view>
        </a-layout-content>

        <!-- <a-layout-footer>Footer</a-layout-footer> -->
      </a-layout>

    </div>
  </div>
</template>

<script>
import Nav from './views/NavTop.vue'

  export default {
    name: 'App',
    screenWidth:'',
    screenHeight:'',
    components: {
      Nav,
    },
  };
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;


  /* margin-top: 60px; */
}
body {
    margin: 0;
    padding: 0;
  }
a,p,div,img,span{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {display: none;}
.title-common{
 text-align: left;
}

#components-layout-demo-basic {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-header,
#components-layout-demo-basic .ant-layout-footer {
  background: rgb(255, 255, 255);
  color: #262626;
  height: 80px;
}
#components-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}

#components-layout-demo-basic .ant-layout-content {
  background: #f0f2f5;
  min-height: 800px;
  padding: 10px;
  width: 1450px;
  margin: 0 auto;
}
#components-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
    .shop-content{
        background-color:#f0f2f5;

    }
    .info{
       background-color: #ffffff;
    }
</style>
